body, html {
    margin: 0;
}
.main-div {
    background-color: var(--sage-green);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.home-div {
    background-color: var(--sage-green);
    flex-grow: 1;
    /* min-height: 100vh; */
    padding: 30px;
}
.input-div {
    background-color: white;
}

.icon {
    text-align: right; 
}

h2 {
    font-family: 'Red Hat Display';
    color: white;
    margin-top: 30px;
}

.blood-sugar {
    margin-top: 36px;
    text-align: center;
}
.thin {
    color: white;
    font-size: 18px;
    font-family: articulat-cf, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.normal {
    font-family: 'DM Sans';
    color: white;
    font-size: 64px;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: -5px;
}