/* Import fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Red+Hat+Display:wght@300;500;600;700&display=swap');

/* global css variables */
html {
  --sage-green: #6DA5A6;
  --light-blue: #92A9D7;
  --turqoise: #577383;
}