.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    background-color: #577383;
    padding: 0 20px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-left: 20px;
  }
  
  .navbar li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    text-decoration: underline;
  }
  